h2, p {
    text-align: left;
    color: white;
    font-family: Century Gothic, sans-serif;
}

button {
    background-color: white;
    color: #003366;
    text-align: center;
    font-size: 16px;
}
#academics {
    background-color: white;
    color: #003366;
    text-align: center;
    font-size: 16px;
    margin-left: 100px;
    margin-top: 10px;
    width: 200px;
}
#levels {
    background-color: white;
    color: #003366;
    text-align: center;
    font-size: 16px;
    margin-left: 100px;
    margin-top: 10px;
    width: 200px;
}
#adv {
    background-color: white;
    color: #003366;
    text-align: center;
    font-size: 70px;
    margin-left: 100px;
    margin-top: 10px;
    visibility: hidden;
}
#intermediate {
    background-color: white;
    color: #003366;
    text-align: center;
    font-size: 70px;
    margin-left: 100px;
    margin-top: 10px;
    visibility: hidden;
}
#basic {
    background-color: white;
    color: #003366;
    text-align: center;
    font-size: 70px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    visibility: hidden;
}
h1 {
    text-align: left;
    color: #003366;
    margin: 70px 80px 100px 80px;
    font-family: Century Gothic, sans-serif;
}
.jumbotron {
    background-color: white;
    height: 250px;
}


.panel {
    color: white;
    padding-left: 20px;
    font-family: Century Gothic, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
}
table#classTable {
    visibility: collapse;
}

body {
    background-color: #003366;
}
